html, body{
	width: 100%;
	height: 100%;
	background: #CCC;
	margin:0; 
	padding: 0;
}

.row{
	width: 100%;
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.row label{
	width: 200px;
	position: relative;
	float: left;
}

.row .input{
	width: 360px;
	position: relative;
	float: left;
}

.row .input label{
	width: 30%;
    font-size: 15px;
    margin-right: 6px;
}

label.error{
	color: #F00;
	font-size: 13px !important;
	margin: 3px 0;
	position: relative;
	float: left;
	width: auto !important;
}

button.edit_row, button.del_row{
	margin: 5px !important;
}

#addOrderDiv{
	text-align: right;
	margin-bottom: 10px;
}

.ui-tooltip{
	font-size: 14px;
}

.demo_guide.highlight{
	background: #000 !important;
	color: #FFF !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.buttonPaneMessage{
    width: 60%;
    position: relative;
    float: left;
    line-height: 100%;
    height: auto;
    margin-top: 10px;
}

.profile_image_div{
	width: 150px;
	height: auto;
	margin: 20px;
}

.profileImageField{
	visibility: hidden;
}

.profile_image_div img{
	width: 100%;
}

.profile_image span{
	cursor: pointer;
}

.profile_upload_message.success{
	color: green;
}

.profile_upload_message.error{
	color: red;
}