<section class="tile">
<div id="clientsDialog"></div>
<input type="hidden" id='group' value='{{ group }}'>
<div class="tile-body">
	<div class="table-responsive">
		<table id="clientsGQGrid"  class="table table-custom"><tr><td/></tr></table> 
	</div>
</div>
</section>
{% csrf_token %}
<script>
var ClientsObj = {
	grid: null,
	initJQGrid: function () {
		var group = $("#group").val();
		var cols = [];
		var colModel = [];
		if (group == 'admin'){
			cols = 	['Name','Phone','Email', 'Announcer'];
			colModel = [
				   		{name:'name',index:'name', align:"center", search: false},
				   		{name:'phone',index:'phone', align:"center", search: false},
				   		{name:'email',index:'email', align:"center", search: false},
				   		{name:'announcer',index:'announcer', align:"center", search: false},
				   	]
		}
		else{
			cols = 	['Name','Phone','Email', 'Action'];
			colModel = [
				   		{name:'name',index:'name', align:"center", search: false},
				   		{name:'phone',index:'phone', align:"center", search: false},
				   		{name:'email',index:'email', align:"center", search: false},
				   		{name:'actions',index:'actions', align:"center", search: false, formatter: ClientsObj.displayButtons, sortable:false , width: 326},
				   	]
		}
		this.grid = $("#clientsGQGrid").jqGrid({
		   	url:'{% url "get_clients" %}?user_id={{ user.id }}',
			datatype: "json",
		 	shrinkToFit: false,
		 	autowidth: true,
		 	width: null,
			// the colnames represent the columns labels or table headers
		   	colNames: cols,
		   	colModel: colModel,
		   	rowList:[10,20,30],
		    viewrecords: true,
		   	sortname: 'name',
		    sortorder: "asc",
		    gridComplete: ClientsObj.gridCompleteFn,
		    height: "auto",
		    loadui: 'disable',
		    loadComplete: function() {
		        if (jQuery("#clientsGQGrid").getGridParam("records")==0) {
		             jQuery("#clientsGQGrid").addRowData(
		                   "dataTables_empty", {"email":"No data available"}
		             );
		             $(".demo_guide").hide();
		   }

		   },
		    
		});
		//the line below specify the add, edit, delete buttons if will show or not
		this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });

	},

	/**
	* this function is triggered when the grid completed
	*/
	gridCompleteFn: function () {
		
		$(".animsition-loading-grid").remove();
		$(".edit_row").button({icons: {primary: "ui-icon-pencil"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'client_form' %}?id="+rowId;
			main_module.open_modal(url);
			
		});
		
		$(".del_row").button({icons: {primary: "ui-icon-trash"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'delete_client_form' %}?id="+rowId;
			main_module.open_modal(url);
		});		
	},
	/**
	*THis function is responsible of filling the Actions cell in the grid
	*/
	displayButtons: function (cellvalue, options, rowObject){
		var buttonStr = "<button class='edit_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-pencil'></i></button>" +
		   "<button class='del_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-trash-o'></i></button>";
			   
		return buttonStr;
	},
	
	/**
	*This function is initiating the add button function
	*/
 	initAddBtn: function (){
		$("#add_client").unbind('click').click(function () {

			var url = "{% url 'client_form' %}";
			main_module.open_modal(url);
			
		});
	}, 
	
};

$(function () {
	//init the jqgrid		
	ClientsObj.initJQGrid();
	//init the add cashier external button
	ClientsObj.initAddBtn();
	//init the jqgrid ui
	jqgrid_tbdt_modal.init_jqgrid_ui();
});

</script>