<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{% if client %}Edit{%else%}Add{%endif%} Client</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="client_form" enctype="multipart/form-data" action =  "{% url 'save_client_form' %}" method = "POST">
        <input type="hidden" id="id" name="id" value="{% if client %}{{ client.id }}{% else %}{% endif %}">
        <input type="hidden" id="announcer_id" name="announcer_id" value="{% if announcer %}{{ announcer.id }}{% else %}{% endif %}">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="client_name"
						value="{% if client %}{{client.name}}{% else %}{% endif %}"
						id="client_name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{% if client %}{{client.email}}{% else %}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone: </label>
                <div class="col-sm-10">
                	<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone number (digits)" value="{% if client %}{{client.phone}}{% else %}{% endif %}">
                </div>
            </div>
			
			{% if client %}
			{% else %}
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						value="{% if client %}{{client.user.username}}{% else %}{% endif %}"
						id="username" placeholder="Username">
				</div>
			</div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <div class="form-group">
                <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Retype Password">
                </div>
            </div>
            {% endif %}
            
            <div class="form-group">
	            <label for="physical" class="col-sm-2 control-label">Physical</label>
		            <div class="col-sm-10">
			            <label class="checkbox checkbox-custom-alt checkbox-custom-lg">
			                 <input type="checkbox" id="physical" name="physical" {% if client.physical == True %} checked {% endif %} ><i></i> 
			            </label>
	            </div>
            
            </div>
            <div class="form-group">
	            <label for="salesmen" class="col-sm-2 control-label">Salesmen</label>
		            <div class="col-sm-10">
			            <label class="checkbox checkbox-custom-alt checkbox-custom-lg">
			                 <input type="checkbox" id="salesmen" name="salesmen" {% if client.salesmen == True %} checked {% endif %} ><i></i> 
			            </label>
	            </div>
            
            </div>
            
            
            <div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Logo</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if client.logo %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ client.logo.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.docfile }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
            
            <div class="modal-footer">
	<button id="submit_client_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>


 <script type="text/javascript">
var client_form_module = {
		init: function(){
			$("#submit_client_form").click(function(){
				
				$.validator.addMethod('customphone', function (value, element) {
	    			return this.optional(element) || /^\d{0-9}$/.test(value);
				}, "Please enter a valid Phone number: 9 digits");
				
				$.validator.addMethod('confirm_password', function(value, element){
					var password = $("#password").val();
					var confirm_password = $("#confirm_password").val();
					
					if(password != confirm_password){
						return false;
					}else{
						return true;
					}
				}, "Your Passwords Must Match")
				
				$("#client_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						username:{required: true,}, 
						client_name: {required: true,}, 
			            phone: {digits: true, required: true},
		            	email: {required:true,email:true},	
		            	password: {required: true,}, 
		            	confirm_password: {confirm_password: true, required: true},
			        },
			        messages: {
			        	client_name: "Name field is required",
			        	username: "User Name field is required",
			        	"phone":{
			        		required: "Phone field is required",
				        	digits: "Please enter a valid phone number",
			        	},
			        	"email":{
			        		required:"Email field is required",
			        		email:"Please enter a valid email",
			        	},
			        	password: "Password field is required",
			        	confirm_password: "Confirm password field is required and must match"
		            }
					});
			})
		},
};
$(function(){
	client_form_module.init();
})
</script>