{% extends "core_base.html" %} 

{% block 'titleContent' %}
 Login
{% endblock %}


{% block 'content'%}
<h2 class="text-light text-greensea">Log In</h2>

<form name="form" class="form-validation mt-20"  method="POST" id="login_form"  action="{% url 'login' %}">
    {% csrf_token %} 
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	<div class="form-group">
		<input type="text" class="form-control underline-input"  name="username"
			value="{{ username }}" id="username"  placeholder="Username" >
	</div>

	<div class="form-group">
		<input type="password" class="form-control underline-input" name="password"
		value="{{ password }}" id="password" placeholder="Password"> 
	</div>
	
	{% if form.non_field_errors %}

	<div class="alert alert-lightred alert-dismissable">
	{% for error in form.non_field_errors %}
		<h5>
			Please enter a valid <em>Username/Password</em>
		</h5>
	{% endfor %}
	</div>
	{% endif %}
	
	{% if state%}
	<div class="alert alert-big alert-lightred alert-dismissable fade in">
		<p>{{ state }}</p>
	</div>
	{% endif %}

	<div class="form-group text-right mt-20">
	
        <!-- <a href="#" class="mt-10" data-toggle="modal" data-target="#forgetPasswordModal" data-options="splash-2 splash-ef-4">Forgot Password?</a> -->
	</div>
	

	<div class="bg-slategray lt wrap-reset mt-40 text-left">
		<div class="form-group text-left mt-20">
			<input type="submit" name="login" value="Login" class="btn btn-greensea text-uppercase b-0">
			
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
	</div>
</form>

{% endblock %}


{% block 'modalContent'%}

<div class="modal splash fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-light text-greensea">Forgot Password?</h2>
            </div>
            <div class="modal-body">
            
				<p class="help-block mb-0">Enter your e-mail address below to reset your password.</p>
				<form class="form-validation mt-20" role="form">
				    <div class="form-group">
				            <input type="email" class="form-control underline-input" placeholder="Email">
				    </div>
				 </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
                <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block 'scriptContent' %}	

<script type="text/javascript">
$("#login_form").validate({
	rules:{
		username:{required: true},
		password:{required: true},
	}
});
</script>
{% endblock %}
<html>
