<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{% if category %}Edit{%else%}Add{%endif%} Category</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="category_form" enctype="multipart/form-data" action =  "{% url 'save_category_form' %}" method = "POST">
        <input type="hidden" id="id" name="id" value="{% if category %}{{ category.id }}{% else %}{% endif %}">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						value="{% if category %}{{category.name}}{% else %}{% endif %}"
						id="name" placeholder="Name">
				</div>
			</div>
            
            <div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Image</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if category.cat_image %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ category.cat_image.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.docfile }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
            
            <div class="modal-footer">
	<button id="submit_category_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>


 <script type="text/javascript">
var category_form_module = {
		init: function(){
			$("#submit_category_form").click(function(){
				
				$("#category_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						name:{required: true,}, 
			        },
			        messages: {
			        	name: "Name field is required",
		            }
					});
			})
		},
};
$(function(){
	category_form_module.init();
})
</script>