<aside id="sidebar">
                    <div id="sidebar-wrap">
                        <div class="panel-group slim-scroll" role="tablist">
                            <div class="panel panel-default">
                                <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <ul id="navigation">
                                        {% if user.is_superuser %}
                                        	{% include 'main_controls/admin_menu.html' %}
                                       	{% elif user.groups.all.0.name == 'announcer'  %}
											{% include 'main_controls/announcer_menu.html' %}
                                        {% elif user.groups.all.0.name == 'client'  %}
											{% include 'main_controls/client_menu.html' %}
										{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside> 