<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        
        <i class="fa fa-arrow-left"></i> <h1 class="custom-font"><strong>Redeem</strong></h1>
        </div>
        
    <!-- /tile header -->

    <!-- tile body -->
    <div class="modal-body">

		<form class="form-horizontal" role="form" >
			
			<div class="form-group">

			<div class="form-group">
				<!-- <div class="custom-font"><strong>Image 2:</strong></div> -->
				<div class="col-md-12">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 290px; height: 150px; margin-left:4px;">
							{% if deal.banner %} <input type="hidden" name="icon_exists"
								value="1"> <img
								src="{{MEDIA_URL}}{{ deal.banner.name }}" alt="" /> {% else %}
							<img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<!-- <div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div> -->
					</div>
				</div>
			</div>
			
			<div style="margin-left:10px; width: 285px; height:150px; word-wrap: break-word; overflow-y: scroll;" >
				<strong>{{ deal.details }}</strong>
			</div>
			
			<div><div class="form-group" style="margin-left: 2px">
				<div class="col-md-5"><i class="fa fa-calendar" style="padding-right: 2px"></i>DD/MM/YY</div>
                <div class="col-md-5" ><i class="fa fa-map-marker" style="padding-right: 2px"></i>All branches</div>
			</div>
			<div class="form-group" style="margin-left: 2px">
				<div class="col-md-5"><i class="fa fa-group" style="padding-right: 2px"></i>Shared</div>
                <div class="col-md-5" ><i class="fa fa-bell" style="padding-right: 2px"></i>Reminder</div>
			</div>
			</div>
				<div class="col-md-10" style="background-color: green; color:white; width:290px; height:40px; margin-left:3px;" align = "center">
					 <div style="vertical-align: middle; margin-top:8px">Use Coupon</div>
			</div>
			</div>
				<div class="modal-footer">
				<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
					data-dismiss="modal">
					<i class="fa fa-arrow-left"></i> Close
				</button>
			</div>
			</form>
		 </div>

    <!-- /tile body -->

</section>
