<section class="tile">
<div id="dealsDialog"></div>
<input type="hidden" id='group' value='{{ group }}'>
<div class="tile-body">
	<div class="table-responsive">
		<table id="dealsGQGrid"  class="table table-custom"><tr><td/></tr></table> 
	</div>
</div>
</section>
{% csrf_token %}
<script>
var DealsObj = {
	grid: null,
	initJQGrid: function () {
		var cols = [];
		var colModel = [];
		cols = 	['Name','Summary', 'client', 'Actions'];
		colModel = [
			   		{name:'name',index:'name', align:"center", search: false},
			   		{name:'summary',index:'summary', align:"center", search: false},
			   		{name:'client',index:'client', align:"center", search: false},
			   		{name:'actions',index:'actions', align:"center", search: false, formatter: DealsObj.displayButtons, sortable:false , width: 326},

			   	]
		this.grid = $("#dealsGQGrid").jqGrid({
		   	url:'{% url "get_deals" %}?user_id={{ user.id }}',
			datatype: "json",
		 	shrinkToFit: false,
		 	autowidth: true,
		 	width: null,
			// the colnames represent the columns labels or table headers
		   	colNames: cols,
		   	colModel: colModel,
		   	rowList:[10,20,30],
		    viewrecords: true,
		   	sortname: 'name',
		    sortorder: "asc",
		    gridComplete: DealsObj.gridCompleteFn,
		    height: "auto",
		    loadui: 'disable',
		    loadComplete: function() {
		        if (jQuery("#dealsGQGrid").getGridParam("records")==0) {
		             jQuery("#dealsGQGrid").addRowData(
		                   "dataTables_empty", {"email":"No data available"}
		             );
		             $(".demo_guide").hide();
		   }

		   },
		    
		});
		//the line below specify the add, edit, delete buttons if will show or not
		this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });

	},

	/**
	* this function is triggered when the grid completed
	*/
	gridCompleteFn: function () {
		
		$(".animsition-loading-grid").remove();
		$(".view_row").button({icons: {primary: "ui-icon-eye"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'view_deal' %}?deal_id="+rowId;
			main_module.open_deal_details_modal(url);
			
		});
		
		
		
			$(".del_row").button({icons: {primary: "ui-icon-send"},text: true}).unbind('click').click(function () {
			var rowId = $(this).attr('data-rowid');
			var url = "{% url 'send_notification_form' %}?deal_id="+rowId;
			main_module.open_modal(url);
			
		});
	},
	/**
	*THis function is responsible of filling the Actions cell in the grid
	*/
	displayButtons: function (cellvalue, options, rowObject){
		var buttonStr = "<button class='view_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-eye'></i></button>" ;
		
		var group = $("#group").val();
		if (group != "admin"){
			buttonStr = buttonStr +  "<button class='del_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-send-o'></i></button>";
		}
		return buttonStr;
	},
	
	/**
	*This function is initiating the add button function
	*/
 	initAddBtn: function (){
		$("#add_deal").unbind('click').click(function () {

			var url = "{% url 'deal_form' %}";
			main_module.open_modal(url);
			
		});
	}, 
	
};

$(function () {
	//init the jqgrid		
	DealsObj.initJQGrid();
	//init the add cashier external button
	DealsObj.initAddBtn();
	//init the jqgrid ui
	jqgrid_tbdt_modal.init_jqgrid_ui();
});

</script>