<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Add Deal</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="deal_form" enctype="multipart/form-data" action =  "{% url 'save_deal_form' %}" method = "POST">
        <input type="hidden" id="hidden_client_id" name="hidden_client_id" value="{% if client %}{{ client.id }}{% else %}{% endif %}">
        <input type="hidden" id="id" name="id" value="">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="deal_name"
						id="deal_name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
                <label for="summary" class="col-sm-2 control-label">Summary</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="summary" id="summary" placeholder="Deal Summary" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="details" class="col-sm-2 control-label">Details </label>
                <div class="col-sm-10">
                	<input type="text" name="details" id="details" class="form-control" placeholder="Deal Details" value="">
                </div>
            </div>
            
            {% if announcer %}
            <div class="form-group">
              <label for="language" class="col-sm-2 control-label">Client</label>
              <div class="col-sm-10">

                  <select class="form-control mb-10" id="client_id" name="client_id">
                  {% for client in clients %}
                      <option value="{{ client.id }}">{{ client.name }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          {% endif %}
          
            
            
            
            <div class="form-group">
               <label for="color" class="col-sm-2 control-label">Color</label>
               <div class="col-sm-10">
                   <input type="text" id="color" name="color" class="form-control w-md colorpicker" value="#e32882" data-format="hex">
               </div>
           </div>
           
           <div class="form-group">
               <label for="text_color" class="col-sm-2 control-label">Text Color</label>
               <div class="col-sm-10">
                   <input type="text" id="text_color" name="text_color" class="form-control w-md colorpicker" value="#e32882" data-format="hex">
               </div>
           </div>
           
           <div class="form-group">
              <label for="language" class="col-sm-2 control-label">Language</label>
              <div class="col-sm-10">

                  <select class="form-control mb-10" id="language" name="language">
                      <option value="EN">English</option>
                      <option value="FR">French</option>
                      <option value="AR">Arabic</option>
                  </select>
              </div>
          </div>
            
            <div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Image 1</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if deal.image %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ deal.image.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.image1 }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Image 2</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if deal.banner %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ deal.banner.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.image2 }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
            
            <div class="modal-footer">
	<button id="submit_deal_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>

<script type="text/javascript">
var deal_form_module = {
		init: function(){
			$("#submit_deal_form").click(function(){
				
				$("#deal_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						deal_name:{required: true,}, 
						summary: {required: true,},
			        },
			        messages: {
			        	deal_name: "Name field is required",
			        	summary: "Summary field is required",
		            }
					});
			})
		},
};
$(function(){
	deal_form_module.init();
})
</script>



