<div class="page page-gallery">	
<div class="page page-tables-datatables">
	<div class="row">
		<div class="col-md-12">
			<section class="tile">
			<input type="hidden" id="user" name="user" value="{{ user }}">
				<div class="tile-header dvd dvd-btm">
                   <h1 class="custom-font"><strong>Deals</strong> List</h1>
                   <ul class="controls">
                   		{% if admin %}
                   		{% else %}
	                   <li>
	                       <a role="button" id="add_deal" tabindex="0"><i class="fa fa-plus mr-5"></i> Add Deal</a>
	                   </li>
	                   {% endif %}
	                   <li><a role="button" tabindex="0" class="tile-refresh"
							id="refresh-button"> <i class="fa fa-refresh"></i>
						</a></li>
                	</ul>
				</div>
				<div class="tile-body">
					<div class="" id="jqgrid-content">
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>
<script>

	$('#jqgrid-content').load('{% url "deals_grid" %}');
	$('#refresh-button').click(function() {
		$('input[id*="gs_"]').val("");
		$('#dealsGQGrid').trigger('reloadGrid');
	})

</script>
