<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Send Notification</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="send_notification_form">
        <input type="hidden" id="deal_id" name="deal_id" value="{{ deal_id }}">
        <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="">
                </div>
            </div>

		<div class="modal-footer">
			<button id="submit_send_notification_form"
				class="btn btn-success btn-ef btn-ef-3 btn-ef-3c">
				<i class="fa fa-arrow-right"></i> Submit
			</button>
			<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
				data-dismiss="modal">
				<i class="fa fa-arrow-left"></i> Cancel
			</button>
		</div>
		</form>

    </div>
    <!-- /tile body -->

</section>


<script type="text/javascript">
var send_notification_form_module = {
		init: function(){
			$("#submit_send_notification_form").click(function(){
				
				$("#send_notification_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						email: {required:true,email:true},	
			        },
			        messages: {
			        	email: "email field is required",
		            },
					submitHandler: function () {
						var email = $('#email').val();
						var deal_id = $('#deal_id').val();
						var data = {'email' : email , 'deal_id' : deal_id};
						console.log(data);
						$.ajax({
							url: "{% url 'submit_send_notification' %}",
							type: "POST",
							data: data,
							success: function (response) {

								console.log(response);
								if(response.status == "OK"){
									//close_modal
									main_module.close_modal();
								}
								if(response.status == "ERROR"){
									if($('.buttonPaneMessage')){
										$('div').remove('.buttonPaneMessage');
									}
									$(".form-horizontal").before("<div class='buttonPaneMessage'>"+response.message+"</div>");
						    	}
							}
						});
						return false;
					}
					});
			})
		},
};
$(function(){
	send_notification_form_module.init();
})
</script>

