{% url 'home' as home_url %}
<li {% if request.path == home_url %} class="active" {% endif %}>
	<a href="{% url 'home' %}" >
		<i class="fa fa-users"></i>
		<span>Users</span>
	</a>
</li>

{% url 'deals' as deals_url %}
<li {% if request.path == deals_url %} class="active" {% endif %}>
	<a href="{% url 'deals' %}" >
		<i class="glyphicon glyphicon-bullhorn"></i>
		<span>Deals</span>
	</a>
</li>

{% url 'categories' as categories_url %}
<li {% if request.path == categories_url %} class="active" {% endif %}>
	<a href="{% url 'categories' %}" >
		<i class="fa fa-tags"></i>
		<span>Categories</span>
	</a>
</li>

{% url 'sub_categories' as sub_categories_url %}
<li {% if request.path == sub_categories_url %} class="active" {% endif %}>
	<a href="{% url 'sub_categories' %}" >
		<i class="fa fa-sitemap"></i>
		<span>Sub Categories</span>
	</a>
</li>

{% url 'stores' as stores_url %}
<li {% if request.path == stores_url %} class="active" {% endif %}>
	<a href="{% url 'stores' %}" >
		<i class="fa fa-sitemap"></i>
		<span>Stores</span>
	</a>
</li>