{% url 'deals' as deals_url %}
<li {% if request.path == deals_url %} class="active" {% endif %}>
	<a href="{% url 'deals' %}" >
		<i class="glyphicon glyphicon-bullhorn"></i>
		<span>Deals</span>
	</a>
</li>

{% url 'stores' as stores_url %}
<li {% if request.path == stores_url %} class="active" {% endif %}>
	<a href="{% url 'stores' %}" >
		<i class="fa fa-sitemap"></i>
		<span>Stores</span>
	</a>
</li>