{% load staticfiles %}	
<header class="clearfix">

	<!-- Branding -->
	<div class="branding">
		<a class="brand" href="{% url 'home' %}"><img alt="" src="{% static 'images/logo.png' %}"> <span><strong>REDEEM</strong></span>
		</a> <a role="button" tabindex="0"
			class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
	</div>
	<!-- Branding end -->



	<!-- Left-side navigation -->
	<ul class="nav-left pull-left list-unstyled list-inline">
		<li class="sidebar-collapse divided-right"><a role="button"
			tabindex="0" class="collapse-sidebar"> <i class="fa fa-outdent"></i>
		</a></li>
	</ul>
	<!-- Left-side navigation end -->


	<!-- Right-side navigation -->
	<ul class="nav-right pull-right list-inline">
		<li class="dropdown nav-profile"><a class="dropdown-toggle" data-toggle="dropdown" style="width: 124px;"> 
			 <span>{{ user.username }} <i
					class="fa fa-angle-down"></i></span>
		</a>

			<ul class="dropdown-menu animated littleFadeInRight" role="menu">
				<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
				
			</ul></li>

	</ul>
	<!-- Right-side navigation end -->

</header>