{% load staticfiles %}	

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block titleContent %}{% endblock %} | REDEEM</title>
		<!-- <link rel="icon" type="image/ico" href="assets/images/favicon.ico"/> -->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">



        <!-- ============================================
        ================= Stylesheets ===================
        ============================================= -->
        <!-- vendor css files -->
        <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/animate.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/animsition.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap-datetimepicker.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/main.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap-fileupload.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/jquery/ui.jqgrid.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.structure.min.css" type="text/css">
         <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.theme.min.css" type="text/css">
         <link rel="stylesheet" href="static/css/lib/bootstrap/jquery.bootstrap.css" type="text/css">
         <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap-colorpicker.min.css" type="text/css">
         <link rel="stylesheet" href="static/css/lib/bootstrap/jquery.bootstrap-touchspin.min.css" type="text/css">
          <link rel="stylesheet" href="static/css/lib/bootstrap/chosen.css" type="text/css">
        <!--/ stylesheets -->


        <!-- page css Style -->
		{% block styleContent %} 
		{% endblock %}
        <!--/ page css Style -->

        <!-- ==========================================
        ================= Modernizr ===================
        =========================================== -->
        <script src="{% static 'js/lib/bootstrap/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <!--/ modernizr -->

    </head>	
    <body id="minovate" class="appWrapper">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div id="wrap" class="animsition">
            <section id="header">
                {% include 'main_controls/header.html' %}
            </section>
            <!--/ HEADER Content  -->
            <div id="controls">
                {% include 'main_controls/sidebar/sidebar.html' %}
            </div>
            <!--/ CONTROLS Content -->
            <section id="content">
				{% block content %} {% endblock %}
            </section>
            
            <div class="footer">
                {% include 'main_controls/footer.html' %}
            </div>
            <!--/ CONTENT -->
        </div>
        <!--/ Application Content -->
		<!-- MODAL  -->
		<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		    	<div class="modal-loader">
					<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>
		    	</div>
	    	    <div class="modal-content">
	    	    </div>
	    	</div>
		</div>
		
		
		
		<!--MODAL -->
		<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
	    	    <div class="modal-content">
	    	    </div>
	    	</div>
		</div>
		<!-- MODAL -->
		
		<!--MODAL -->
		<div class="modal fade" id="deal-details-modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
	    	    <div class="modal-content">
	    	    </div>
	    	</div>
		</div>
		<!-- MODAL -->
		
		
		<script src="{% static 'js/lib/jquery/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'js/lib/parsley.min.js' %}"></script>
        
        
		<script src="{% static 'js/lib/jquery/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/lib/jquery/i18n/grid.locale-en.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.jqGrid.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.form.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap//bootstrap.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/jRespond.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.animsition.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/screenfull.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/moment.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/bootstrap-datetimepicker.min.js' %}"></script>
        
        <script src="{% static 'js/lib/bootstrap/main.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap//bootstrap-fileupload.js' %}"></script>
		<script src="{% static 'js/lib/bootstrap/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/jqgrid.bootstrap.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/bootstrap-colorpicker.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/jquery.bootstrap-touchspin.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/chosen.jquery.min.js' %}"></script>
        <script src="{% static 'js/main_module.js' %}"></script>
       
        <!--/ vendor javascripts -->
        
        <!-- page javascripts -->
		{% block scriptContent %} 
		{% endblock %}
        <!--/ page javascripts -->
    </body>
</html>
