{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Redeem - {% block 'titleContent' %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% block 'mainStyleContent' %}

	<link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/animate.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/animsition.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap-datetimepicker.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/main.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/jquery/ui.jqgrid.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.structure.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/jquery/jquery-ui.theme.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/lib/bootstrap/jquery.bootstrap.css" type="text/css">
	{% endblock %}
	
	{% block 'styleContent' %} 
	{% endblock %}
	
</head>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<body id="minovate" class="appWrapper"  >
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id="wrap" class="animsition">
		<div class="page page-core page-login" id="location">
			<div class="text-center">
				<h3 class="text-light text-white mb-10 mt-0">
					<span class="text-lightred">RE</span>DEEM
				</h3>
			</div>
			<div class="container w-420 p-15 bg-white mt-0 text-center">
				{% block 'content' %}
				{% endblock %}
			</div>
		</div>
	</div>
	
		<script src="{% static 'js/lib/jquery/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'js/lib/parsley.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.animsition.min.js' %}"></script>
		<script src="{% static 'js/lib/jquery/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/lib/jquery/i18n/grid.locale-en.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.jqGrid.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.form.js' %}"></script>
        <script src="{% static 'js/lib/jquery/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap//bootstrap.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/jRespond.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/moment.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/screenfull.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/main.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap//bootstrap-fileupload.js' %}"></script>
		<script src="{% static 'js/lib/bootstrap/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/extensions/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap/jqgrid.bootstrap.js' %}"></script>
        <script src="{% static 'js/main_module.js' %}"></script>
	
	{% block 'modalContent' %}
	{% endblock %}
	
	{% block 'scriptContent' %}
	{% endblock %}
</body>
</html>
