{% extends "core_base.html" %}

{% block 'titleContent' %}
 Forbidden 
{% endblock %}

{% block 'content'%}



        <h2 class="text-light text-greensea"><strong>Unauthorized</strong></h2>

        <h4 class="mb-0 mt-40">Access Forbidden</h4>

        <p class="text-muted">This user in not allowed to access here.</p>
        <div class="bg-slategray lt wrap-reset mt-40 text-center">
            <!-- <button class="btn btn-default btn-sm b-0"><i class="fa fa-refresh"></i> Try again</button> -->
            <a class="btn btn-lightred btn-sm b-0" href="{% url 'login' %}"><i class="fa fa-home"></i> Return to home</a>
            <!-- <button class="btn btn-lightred btn-sm b-0"><i class="fa fa-envelope-o"></i> Contact support</button> -->
        </div>

{% endblock %}