{% extends "base.html" %}
{% load staticfiles %}
{% block titleContent %}Users{% endblock %}
{% block styleContent %}
{% endblock %}
{% block content %}
<input type="hidden" id="active_tab" name="active_tab" value="{{ active_tab }}">
<div class="page page-gallery">
 	<!-- page header -->
	<div class="pageheader mb-5">
	    <div class="page-bar">
			<ul class="nav nav-tabs nav-justified tabs-dark">
			{% if announcer %}
			<li role="client" class="active"><a href="#">Client</a></li>
			{% else %}
 				<li role="announcer" class="active"><a href="#">Announcer</a></li>
 				<li role="client"><a href="#">Client</a></li>
			{% endif %}					
			</ul>
		</div>
	</div>
	<div class="row" id="page_content">
	</div>
</div>
{% endblock %}
{% block scriptContent %}
<script>
	var tabs_mdule = {
			init:function(){
				this.init_tabs();
			},
			init_tabs: function(){
				var activeTab = $("#active_tab").val()
				$("#page_content").load('{% url "switch_tab"%}?tab_role='+activeTab);
				$(".nav-tabs > li").click(function(){
					if(!($(this).hasClass('active'))){
						$(".nav-tabs > li").removeClass('active');
						$(this).addClass('active');
						var tab_role = $(this).attr('role')
						$("#page_content").load('{% url "switch_tab"%}?tab_role='+tab_role)
					}
				})
			}
	}
	
	$(function(){
		tabs_mdule.init();
	})
</script>
{% endblock %}