<section class="tile">
<div id="subCatsDialog"></div>
<input type="hidden" id='group' value='{{ group }}'>
<div class="tile-body">
	<div class="table-responsive">
		<table id="subCatsGQGrid"  class="table table-custom"><tr><td/></tr></table> 
	</div>
</div>
</section>
{% csrf_token %}
<script>
var SubCatsObj = {
	grid: null,
	initJQGrid: function () {
		var cols = [];
		var colModel = [];
		cols = 	['Name','Category', 'Actions'];
		colModel = [
			   		{name:'name',index:'name', align:"center", search: false},
			   		{name:'category',index:'category', align:"center", search: false},
			   		{name:'actions',index:'actions', align:"center", search: false, formatter: SubCatsObj.displayButtons, sortable:false , width: 326},

			   	]
		this.grid = $("#subCatsGQGrid").jqGrid({
		   	url:'{% url "get_sub_cats" %}',
			datatype: "json",
		 	shrinkToFit: false,
		 	autowidth: true,
		 	width: null,
			// the colnames represent the columns labels or table headers
		   	colNames: cols,
		   	colModel: colModel,
		   	rowList:[10,20,30],
		    viewrecords: true,
		   	sortname: 'name',
		    sortorder: "asc",
		    gridComplete: SubCatsObj.gridCompleteFn,
		    height: "auto",
		    loadui: 'disable',
		    loadComplete: function() {
		        if (jQuery("#subCatsGQGrid").getGridParam("records")==0) {
		             jQuery("#subCatsGQGrid").addRowData(
		                   "dataTables_empty", {"email":"No data available"}
		             );
		             $(".demo_guide").hide();
		   }
		   },
		});
		//the line below specify the add, edit, delete buttons if will show or not
		this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });

	},

	/**
	* this function is triggered when the grid completed
	*/
	gridCompleteFn: function () {
		
		$(".animsition-loading-grid").remove();
		$(".edit_row").button({icons: {primary: "ui-icon-pencil"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'sub_cat_form' %}?sub_cat_id="+rowId;
			main_module.open_modal(url);
			
		});
	},
	/**
	*THis function is responsible of filling the Actions cell in the grid
	*/
	displayButtons: function (cellvalue, options, rowObject){
		var buttonStr = "<button class='edit_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-pencil'></i></button>" ;
		return buttonStr;
	},
	
	/**
	*This function is initiating the add button function
	*/
 	initAddBtn: function (){
		$("#add_sub_cat").unbind('click').click(function () {

			var url = "{% url 'sub_cat_form' %}";
			main_module.open_modal(url);
			
		});
	}, 
	
};

$(function () {
	//init the jqgrid		
	SubCatsObj.initJQGrid();
	//init the add cashier external button
	SubCatsObj.initAddBtn();
	//init the jqgrid ui
	jqgrid_tbdt_modal.init_jqgrid_ui();
});

</script>