<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{% if sub_cat %}Edit{%else%}Add{%endif%} Sub Category</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="sub_cat_form" enctype="multipart/form-data" action =  "{% url 'save_sub_cat_form' %}" method = "POST">
        <input type="hidden" id="id" name="id" value="{% if sub_cat %}{{ sub_cat.id }}{% else %}{% endif %}">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						value="{% if sub_cat %}{{sub_cat.name}}{% else %}{% endif %}"
						id="name" placeholder="Name">
				</div>
			</div>
			
			<div class="form-group">
              <label for="language" class="col-sm-2 control-label">Category</label>
              <div class="col-sm-10">

                  <select class="form-control mb-10" id="cat_id" name="cat_id">
                  <option value="{{ sub_cat.category.id }}" selected>{{ sub_cat.category.name }}</option>
                  {% for cat in categories %}
                      <option value="{{ cat.id }}">{{ cat.name }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
            
            <div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Image</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if sub_cat.sub_cat_image %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ sub_cat.sub_cat_image.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.docfile }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
            
            <div class="modal-footer">
	<button id="submit_sub_cat_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>


 <script type="text/javascript">
var sub_cat_form_module = {
		init: function(){
			$("#submit_sub_cat_form").click(function(){
				
				$("#sub_cat_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						name:{required: true,}, 
			        },
			        messages: {
			        	name: "Name field is required",
		            }
					});
			})
		},
};
$(function(){
	sub_cat_form_module.init();
})
</script>