{% extends "base.html" %}
{% load staticfiles %}
{% block titleContent %}Sub Categories{% endblock %}
{% block styleContent %}
{% endblock %}
{% block content %}
<div class="page page-gallery">
	<div class="row" id="page_content">
	</div>
</div>
{% endblock %}
{% block scriptContent %}
<script>
	var tabs_mdule = {
			init:function(){
				this.init_tabs();
			},
			init_tabs: function(){
				$("#page_content").load('{% url "sub_cats_index"%}');
			}
	}
	$(function(){
		tabs_mdule.init();
	})
</script>
{% endblock %}