<section class="tile">
<div id="announcerssDialog"></div>
<div class="tile-body">
	<div class="table-responsive">
		<table id="announcersGQGrid"  class="table table-custom"><tr><td/></tr></table> 
	</div>
</div>
</section>
{% csrf_token %}
<script>
var AnnouncersObj = {
	grid: null,
	initJQGrid: function () {
		
		this.grid = $("#announcersGQGrid").jqGrid({
		   	url:'{% url "get_announcers" %}',
			datatype: "json",
		 	shrinkToFit: false,
		 	autowidth: true,
		 	width: null,
			// the colnames represent the columns labels or table headers
		   	colNames:['Name','Phone','Email', 'Action'],
		   	colModel:[
		   		{name:'name',index:'name', align:"center", search: false},
		   		{name:'phone',index:'phone', align:"center", search: false},
		   		{name:'email',index:'email', align:"center", search: false},
		   		{name:'actions',index:'actions', align:"center", search: false, formatter: AnnouncersObj.displayButtons, sortable:false , width: 326},
		   	],
		   	rowNum:10,
		   	rowList:[10,20,30],
		    viewrecords: true,
		   	sortname: 'name',
		    sortorder: "asc",
		    gridComplete: AnnouncersObj.gridCompleteFn,
		    height: "auto",
		    loadui: 'disable',
		    loadComplete: function() {
		        if (jQuery("#announcersGQGrid").getGridParam("records")==0) {
		             jQuery("#announcersGQGrid").addRowData(
		                   "dataTables_empty", {"email":"No data available"}
		             );
		             $(".demo_guide").hide();
		   }

		   },
		    
		});
		//the line below specify the add, edit, delete buttons if will show or not
		this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });

	},

	/**
	* this function is triggered when the grid completed
	*/
	gridCompleteFn: function () {
		
		$(".animsition-loading-grid").remove();
		$(".edit_row").button({icons: {primary: "ui-icon-pencil"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'announcer_form' %}?id="+rowId;
			main_module.open_modal(url);
			
		});
		
		$(".del_row").button({icons: {primary: "ui-icon-trash"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'delete_announcer_form' %}?id="+rowId;
			main_module.open_modal(url);
		});		
	},
	/**
	*THis function is responsible of filling the Actions cell in the grid
	*/
	displayButtons: function (cellvalue, options, rowObject){
		var buttonStr = "<button class='edit_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-pencil'></i></button>" +
		   "<button class='del_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-trash-o'></i></button>";
			   
		return buttonStr;
	},
	
	/**
	*This function is initiating the add button function
	*/
 	initAddBtn: function (){
		$("#add_announcer").unbind('click').click(function () {

			var url = "{% url 'announcer_form' %}";
			main_module.open_modal(url);
			
		});
	}, 
	
};

$(function () {
	//init the jqgrid		
	AnnouncersObj.initJQGrid();
	//init the add cashier external button
	AnnouncersObj.initAddBtn();
	//init the jqgrid ui
	jqgrid_tbdt_modal.init_jqgrid_ui();
});

</script>