<div class="modal-header">
	<h3 class="modal-title custom-font">Delete Announcer</h3>
</div>
<div class="modal-body">
	{% if can_delete %}
	<form class="form-horizontal" role="form" method="post" id="announcer_form">
		{% csrf_token %}
		
		<input type="hidden" name="oper" value="del"> 
		<input type="hidden" id="id" name="id" value="{{ announcer_id }}">
		
		<div class="tile-body">Are you sure you want to delete this announcer?</div>

	</form>
	{% else %}
		<div class="tile-body">You Can't delete this announcer, There are related data.</div>
	{% endif %}
</div>
<div class="modal-footer">
	{% if can_delete %}
	<button id="submit_announcer_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	{% endif %}
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
	{% if can_delete %}
<script type="text/javascript">
var announcer_del_form_module = {
		init: function(){
			$("#submit_announcer_form").click(function(){
				announcer_del_form_module.submit_form();
			})
		},
		submit_form: function(){
			//show_loading
			var id = $('#id').val();
			var data = {'id' : id};
			console.log(data);
			$.ajax({
				url: "{% url 'delete_announcer' %}",
				type: "POST",
				data: data,
				success: function (response) {
					if(response.status == "OK"){
						//hide_loading
						AnnouncersObj.grid.trigger("reloadGrid");
						//close_modal
						main_module.close_modal();
					}
				}
			});
		},
};
$(function(){
	announcer_del_form_module.init();
})
</script>
{% endif %}