<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{% if announcer %}Edit{%else%}Add{%endif%} Announcer</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="announcer_form"  enctype="multipart/form-data" action =  "{% url 'save_announcer_form' %}" method = "POST"> 
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{% if announcer %}{{ announcer.id }}{% else %}{% endif %}">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="announcer_name"
						value="{% if announcer %}{{announcer.name}}{% else %}{% endif %}"
						id="announcer_name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{% if announcer %}{{announcer.email}}{% else %}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone: </label>
                <div class="col-sm-10">
                	<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone number (digits)" value="{% if announcer %}{{announcer.phone}}{% else %}{% endif %}">
                </div>
            </div>
			
			{% if announcer %}
			{% else %}
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						value="{% if announcer %}{{announcer.user.username}}{% else %}{% endif %}"
						id="username" placeholder="Username">
				</div>
			</div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <div class="form-group">
                <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Retype Password">
                </div>
            </div>
            {% endif %}
            
            <div class="form-group">
            	<label for="logo" class="col-sm-2 control-label">Logo</label>
				<div class="col-md-9">
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 200px; height: 150px;">
							{% if announcer.logo_url %} <input type="hidden"
								name="icon_exists" value="1"> <img
								src="{{MEDIA_URL}}{{ announcer.logo_url.name }}" alt="" /> 
								{% else %} <img
								src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
								alt="" /> {% endif %}
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-info btn-file">
							 <span class="fileupload-new">
								<i class="fa fa-paper-clip"></i>Select image</span>
								 <span class="fileupload-exists"><i	class="fa fa-undo">
								 	</i> Change</span>
								 	 {{ form.docfile }}
								 </span> <a href="#" class="btn btn-danger fileupload-exists"
								data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
						</div>
					</div>
				</div>
			</div>
            
            <div class="modal-footer">
	<button id="submit_announcer_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>


