
<div class="page page-tables-datatables">
	<div class="row">
		<div class="col-md-12">
			<section class="tile">
				<div class="tile-header dvd dvd-btm">
                   <h1 class="custom-font"><strong>Announcers</strong> List</h1>
                   <ul class="controls">
	                   <li>
	                       <a role="button" id="add_announcer" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add Announcer</a>
	                   </li>
						<li><a role="button" tabindex="0" class="tile-refresh"
							id="refresh-button"> <i class="fa fa-refresh"></i>
						</a></li>
					</ul>
				</div>
				<div class="tile-body">
					<div class="" id="jqgrid-content">
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{% block 'scriptContent'%}
	<script>
		$('#jqgrid-content').load('{% url "announcers_grid" %}');
		$('#refresh-button').click(function(){
			$('input[id*="gs_"]').val("");
			$('#announcersGQGrid').trigger( 'reloadGrid');
		})
	</script>
{% endblock %}
