<section class="tile">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{% if store %}Edit{%else%}Add{%endif%} Store</strong></h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" data-parsley-validate id="store_form" enctype="multipart/form-data" action =  "{% url 'save_store_form' %}" method = "POST">
        <input type="hidden" id="id" name="id" value="{% if store %}{{ store.id }}{% else %}{% endif %}">
		<input type="hidden" id="client_id" name="client_id" value="{% if client %}{{ client.id }}{% else %}{% endif %}">
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						value="{% if store.id %}{{store.name}}{% else %}{% endif %}"
						id="name" placeholder="Name">
				</div>
			</div>
			
			<div class="form-group">
              <label for="language" class="col-sm-2 control-label">City</label>
              <div class="col-sm-10">

                  <select class="form-control mb-10" id="city_id" name="city_id">
                  <option value="{{ store.city.id }}" selected>{{ store.city.name }}</option>
                  {% for city in cities %}
                      <option value="{{ city.id }}">{{ city.name }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          
          <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{% if store %}{{store.email}}{% else %}{% endif %}">
                </div>
            </div>
            
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone: </label>
                <div class="col-sm-10">
                	<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone number (digits)" value="{% if store %}{{store.phone}}{% else %}{% endif %}">
                </div>
            </div>
            
            <div class="form-group">
              <label for="redeem_process" class="col-sm-2 control-label">Redeem process</label>
              <div class="col-sm-10">

                  <select class="form-control mb-10" id="redeem_process" name="redeem_process">
                  {% for item_value, visible_value in choices %}
                      <option value = {{ item_value }} {% if store.redeem_process == item_value %} selected {% endif %}>{{ visible_value }}</option>
                  {% endfor %}
                  </select>
              </div>
          </div>
            
            {% if store %}
			{% else %}
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						value=""
						id="username" placeholder="Username">
				</div>
			</div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <div class="form-group">
                <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Retype Password">
                </div>
            </div>
            {% endif %}
            
            <div class="modal-footer">
	<button id="submit_store_form" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit">
		<i class="fa fa-arrow-right"></i> Submit
	</button>
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c"
		data-dismiss="modal">
		<i class="fa fa-arrow-left"></i> Cancel
	</button>
</div>
        </form>

    </div>
    <!-- /tile body -->

</section>


 <script type="text/javascript">
var store_form_module = {
		init: function(){
			$("#submit_store_form").click(function(){
				
				$("#store_form").validate({
					errorPlacement: function(error, element) {
						console.log(element.attr("name"))
						 switch (element.attr("name")) {
					        default:
					        	error.insertAfter(element)
					        	break;
					    }
				    },
					rules:{
						name:{required: true,}, 
			        },
			        messages: {
			        	name: "Name field is required",
		            }
					});
			})
		},
};
$(function(){
	store_form_module.init();
})
</script>