<section class="tile">
<div id="storesDialog"></div>
<input type="hidden" id='group' value='{{ group }}'>
<div class="tile-body">
	<div class="table-responsive">
		<table id="storesGQGrid"  class="table table-custom"><tr><td/></tr></table> 
	</div>
</div>
</section>
{% csrf_token %}
<script>
var StoresObj = {
	grid: null,
	initJQGrid: function () {
		var cols = [];
		var colModel = [];
		
		{% if client %}
		cols = 	['Name', 'Actions'];
		colModel = [
			   		{name:'name',index:'name', align:"center", search: false},
			   		{name:'actions',index:'actions', align:"center", search: false, formatter: StoresObj.displayButtons, sortable:false , width: 326},
			   	]
		{% else %}
		cols = 	['Name','Client'];
		colModel = [
			   		{name:'name',index:'name', align:"center", search: false},
			   		{name:'client',index:'client', align:"center", search: false},
			   	]
		{% endif %}
		
		this.grid = $("#storesGQGrid").jqGrid({
		   	url:'{% url "get_stores" %}',
			datatype: "json",
		 	shrinkToFit: false,
		 	autowidth: true,
		 	width: null,
			// the colnames represent the columns labels or table headers
		   	colNames: cols,
		   	colModel: colModel,
		   	rowList:[10,20,30],
		    viewrecords: true,
		   	sortname: 'name',
		    sortorder: "asc",
		    gridComplete: StoresObj.gridCompleteFn,
		    height: "auto",
		    loadui: 'disable',
		    loadComplete: function() {
		        if (jQuery("#storesGQGrid").getGridParam("records")==0) {
		             jQuery("#storesGQGrid").addRowData(
		                   "dataTables_empty", {"email":"No data available"}
		             );
		             $(".demo_guide").hide();
		   }
		   },
		});
		//the line below specify the add, edit, delete buttons if will show or not
		this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });

	},

	/**
	* this function is triggered when the grid completed
	*/
	gridCompleteFn: function () {
		
		$(".animsition-loading-grid").remove();
		$(".edit_row").button({icons: {primary: "ui-icon-pencil"},text: true}).unbind('click').click(function () {
			
			var rowId = $(this).attr('data-rowid');
			
			var url = "{% url 'store_form' %}?store_id="+rowId;
			main_module.open_modal(url);
			
		});
	},
	/**
	*THis function is responsible of filling the Actions cell in the grid
	*/
	displayButtons: function (cellvalue, options, rowObject){
		var buttonStr = "<button class='edit_row demo_guide' data-rowid='"+rowObject.id+"'><i class='fa fa-pencil'></i></button>" ;
		return buttonStr;
	},
	
	/**
	*This function is initiating the add button function
	*/
 	initAddBtn: function (){
		$("#add_store").unbind('click').click(function () {

			var url = "{% url 'store_form' %}";
			main_module.open_modal(url);
			
		});
	}, 
	
};

$(function () {
	//init the jqgrid		
	StoresObj.initJQGrid();
	//init the add cashier external button
	StoresObj.initAddBtn();
	//init the jqgrid ui
	jqgrid_tbdt_modal.init_jqgrid_ui();
});

</script>